body {
    /* background-color: burlywood; */
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0px auto;
    padding: 0px 8px;
    font-size: 12pt;
}

.caption {
    color: #666;
}

.budget-row {
    /* background-color: blanchedalmond; */
    padding: 2.5px 0px 2.5px 0px;
}

.row-a {
    background-color: #eee;
}

.row-b {
    background-color: #fff;
}

.name-col {
    /* background-color: aqua; */
    display: inline-block;
    width: 50%;
}

.amount-col {
    /* background-color: darkolivegreen; */
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 50%;
}

.description {
    /* background-color: coral; */
    font-size: 10pt;
    padding: 0px 0px 0px 17px;
}

.name-col-contents {
    display: flex;
}

.expand-name-container {
    display: flex;
}

.expand-button-container {
    width: 12px;
    padding: 2px 5px 0px 0px;
}

.info-button-container {
    width: 12px;
    padding: 2px 5px 0px 5px;
    margin-left: auto;
}

.icon {
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
}

.expand {
    background-image: url('plus.svg');
}

.collapse {
    background-image: url('minus.svg');
}

.info {
    background-image: url('info.svg');
    cursor: pointer;
}

.content {
    padding: 0px 0px 0px 15px;
}

.expandable {
    display: none;
}

.expandable-item {
    cursor: pointer;
}

.search-filtered {
    display: none;
}

#currency-form {
    width: 100%;
    max-width: 170px;
    margin: 0px 0px;
}

#currency-form input {
    font-size: 24px;
    padding: 0;
    width: 100%;
    color: #2179ee;
    border-width: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0 0 0 0;
    border-color: #000;
}

#currency-form input:focus {
    outline: 0;
}

.currency-contents {
    display: flex;
    justify-content: flex-start;
}

.currency-contents input {
    max-width: 300px;
    flex: 1 1 100px;
}

.currency-contents .currency {
    font-size: 24px;
    padding: 0 10px 0 0px;
    color: #000;
}
