body {
    margin: 0;
}

.header-container {    
    text-align: center;
    background-color: green;
    height: 20em;
    background: #fff url(images/enigma-title-small.jpg) no-repeat center;
}

.content-container{
    margin: 3em;
}

.content {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 14pt;
    line-height: 1.58;
    margin: auto;
    max-width: 50em;
    color: #282828;
}

#enigma-field {
    width: 40%;
    float: right;
    margin: 0 0 0 2em;
}

#enigma-single-rotor {
    width: 45%;
}

#enigma-exploded-rotor {
    width: 45%;
}

#enigma-three-rotors {
    width: 30%;
    float: right;
    margin: 0 0 2em 2em;
}

#enigma-plugboard {
    width: 40%;
    float: right;
    margin: 0 0 2em 2em;
}

b {
    color: #555;
}

a {
    text-decoration: none;
    color: #4A90E2;
}

a:hover {
    color: #3B73B4;
}

table {
    margin: 0px auto;
    text-align: center;
}

td {
    padding: 0px 60px;
}

input {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14pt;
    width: 50%;
    border-width: 0;
    background-color: #f7f7f7;
}

button {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14pt;
    margin: 6px;
}

.enigma {
    width: 400px;
    margin: 0px auto;
    text-align: center;
}

.enigma-large {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}
