body {
    /* background-color: burlywood; */
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0px auto;
    padding: 0px 8px;
    font-size: 12pt;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 24pt;
}

a {
    color: #2179ee
}

.caption {
    color: #666;
}

#percent-button {
    float: right;
}

.budget-row {
    padding: 2.5px 0px 2.5px 0px;
}

.row-a {
    background-color: #eee;
}

.row-b {
    background-color: #fff;
}

.name-col {
    /* background-color: aqua; */
    display: inline-block;
    width: 50%;
}

.amount-col {
    /* background-color: darkolivegreen; */
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 50%;
}

.description {
    /* background-color: coral; */
    font-size: 10pt;
    padding: 0px 0px 0px 17px;
}

.name-col-contents {
    display: flex;
}

.expand-name-container {
    display: flex;
}

.expand-button-container {
    width: 12px;
    padding: 2px 5px 0px 0px;
}

.info-button-container {
    width: 12px;
    padding: 2px 5px 0px 5px;
    margin-left: auto;
}

.icon {
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
}

.expand {
    background-image: url('plus.svg');
}

.collapse {
    background-image: url('minus.svg');
}

.info {
    background-image: url('info.svg');
    cursor: pointer;
}

.content {
    padding: 0px 0px 0px 15px;
}

.expandable {
    display: none;
}

.expandable-item {
    cursor: pointer;
}

.search-filtered {
    display: none;
}

#currency-form input {
    font-size: 20px;
    padding: 0;
    color: #2179ee;
}

.currency-contents .currency {
    font-size: 20px;
}
